<div class="jumbotron">
  <h1>Donkey Teeth</h1>
  <p class="lead">
    <img src="images/avatar.jpg" alt="Donkey Teeth"><br>
    Welcome to my page. I hope you enjoy.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Yes <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>A few arbitrary things...</h4>
  <p>
    I like going out and hanging with my friends.
  </p>

  <h4>Favorite food</h4>
  <p>
    Gotta be the sandwich. Can't stop me! lol
  </p>

  <h4>Inspirations:</h4>
  <p>Anyone over 7ft</p>
</div>
